<div class="page-header" style="background-image: url('./assets/img/pesanaja.jpg');">
  <div class="filter"></div>
  <div class="container">
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Description</h2>
          <h5 class="description">PesanAja is an application for ordering
            food in the campus area. users can
            order food with a device and the
            food will be delivered by the runner.</h5>
          <br>
        </div>
      </div>
      <br />
      <h2>Features</h2>
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-album-2"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Beautiful Gallery</h4>
              <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-bulb-63"></i>
            </div>
            <div class="description">
              <h4 class="info-title">New Ideas</h4>
              <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-chart-bar-32"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Statistics</h4>
              <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>

            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-sun-fog-29"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Delightful design</h4>
              <p>Find unique and handmade delightful designs related items directly from our sellers.</p>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section">
    <div class="page-header" style="background-image: url('./assets/img/landing page.jpg');">
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Need Successful Project ?</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>