<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Administrator</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>Name</label>
      <div class="input-textarea">
        <input [(ngModel)]="user.nama" name="nama" class="form-control" placeholder="Nama">
      </div>
      <label>Email</label>
      <div class="input-textarea">
        <input [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email">
      </div>
      <label>Phone</label>
      <div class="input-textarea">
        <input [(ngModel)]="user.phone" name="phone" class="form-control" placeholder="Phone">
      </div>
      <label>Skill</label>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="user.skill" name="skill">
          <option value="FRONT END DEVELOPER">FRONT END DEVELOPER</option>
          <option value="BACK END DEVELOPER">BACK END DEVELOPER</option>
          <option value="DESIGNER">DESIGNER</option>
        </select>
      </div>
      <label>Category</label>
      <div class="form-group">
        <select class="form-control" [(ngModel)]="user.category" name="category">
          <option value="admin">admin</option>
          <option value="superadmin">superadmin</option>
        </select>
      </div>
    </div>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="margin-right: 10px;"
      (click)=" updateMember();activeModal.dismiss('Data Updated')"
      [disabled]="loading">{{loading ? 'Saving..':'Edit'}}</button>
  </div>
</div>